<ion-header>
  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tinder Wars</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let card of cards" class="td-card" (click)="showBio(card)"> 
      <ion-item>
        <img *ngIf="card.img" [src]="card.img">
        <h1>{{ card.name }}</h1>
        <p>{{ card.birth_year }}</p>
      </ion-item>
      <!--<ion-card-content *ngIf="card.homeworld">-->
        <!--{{ card.homeworld }}-->
        <!--From {{ card.location.city }}, {{ card.location.postcode }}<br> Phone: {{ card.phone }}-->
      <!--</ion-card-content>-->
    </ion-card>
  </div>
</ion-content>
<ion-content padding *ngIf="showLoader">
<div class="card_loader"><ion-icon name="md-flame" color="danger"></ion-icon></div>
</ion-content>

<ion-footer>
  <div class="tinder-footer">
    <div id="swipe_dislike" class="rate" (click)="voteUp(false)">
 <ion-icon name="md-close" color="danger"></ion-icon>
    </div>
    <!--<div class="info"></div>-->
    <div id="swipe_like" class="rate" (click)="voteUp(true)">
      <ion-icon name="md-heart" color="secondary"></ion-icon>
    </div>
  </div>
</ion-footer>
